<div bg-dark>
  <div class="contenido row g-0 justify-content-center pt-lg-5 pb-lg-5">
      <div class="bg-light col-lg-8 d-flex flex-column align-items-center">
          <div class="pt-lg-4 pb-lg-0 p-4 w-100 mb-auto">
              <img src="https://etb.com/ResourcesCentrosExp/img/icons/logo_etb_azul.png" class="img-fluid">
          </div>
          <div class="px-lp-5 py-lg-4 p-5 w-100 align-self-center">
              <h1 class="mb-4 w-100 text-center fw-bold">Tipo Hallazgo</h1>
              
              <form>
                  <div class="mb-5">
                    <label for="InputId" class="form-label fw-bold">ID</label>
                    <input type="number" class="form-control" placeholder="..." id="exampleInputEmail1" readonly>
                  </div>
                  <div class="mb-5">
                    <label for="InputDelected" class="form-label fw-bold">Delected</label>
                    <input type="text" class="form-control" placeholder="..." id="exampleInputEmail1">
                  </div>
                  <div class="mb-5">
                      <label for="InputFechaCreacion" class="form-label fw-bold">Fecha de creación</label>
                      <input type="date" class="form-control mb-2" id="exampleInputPassword1" readonly>
                  </div>
                  <div class="mb-5">
                      <label for="InputTipo" class="form-label fw-bold">Tipo</label>
                      <input type="text" class="form-control" id="exampleInputEmail1">
                  </div>
                  <div class="mb-5">
                      <label for="InputUsuario" class="form-label fw-bold">Usuario</label>
                      <input type="text" class="form-control" id="exampleInputEmail1">
                  </div>
                  <div class="mb-5">
                      <label for="InputIdServeridad" class="form-label fw-bold">ID Severidad</label>
                      <input type="text" class="form-control" id="exampleInputEmail1">
                  </div>
                </form>
          </div>
      </div>
      <div class="text-decoration-none d-flex mt-3">
        <a routerLink="/dashboard" class="btn btn-primary btn-lg mt-1">Guardar</a>
      </div>
  </div>
</div>



